# Ambiente virtual
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Dados (não versionar)
data/raw/
data/processed/
data/staging/

# Manifests de execução
reports/manifest_*.csv

# Sistema / IDE
.vscode/
.DS_Store
